<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newburger="{{newburger}}">
		{{#if newburger}}DEVOUR IT!{{else}}AVAILABLE TO EAT!{{/if}}
	</button>

	<button class="name" data-id="{{this.id}}">Devour it!</button>
</li>
